<?xml version="1.0"?>
<launch>

    <!-- Webapp bridge -->
    <group ns="webapp">
        <node pkg="autoware_mini" type="webapp_bridge.py" name="webapp_bridge" output="screen" required="true" />
        <rosparam command="load" file="$(find autoware_mini)/config/webapp.yaml" />
    </group>

</launch>