<?xml version="1.0"?>
<launch>

    <arg name="use_openpilot"       default="true" />
    <arg name="openpilot_ip"        default="127.0.0.1" />
    <arg name="openpilot_port"      default="27098" />

    <group ns="openpilot">

        <!-- Supercombo  -->
        <node if="$(arg use_openpilot)" pkg="autoware_mini" type="supercombo_prediction_publisher.py" name="supercombo_prediction_publisher" output="screen" required="true" >
            <param name="openpilot_ip" value="$(arg openpilot_ip)" />
            <param name="openpilot_port" value="$(arg openpilot_port)" />
        </node>

    </group>
  
</launch>