<?xml version="1.0"?>
<launch>

  <!-- Map configuration -->
  <arg name='map_name'                default='town01'                   doc="Map name to use"/>
  <arg name="lanelet2_map_name"       default="$(find autoware_mini)/data/maps/$(arg map_name).osm"      doc="Lanelet2 map file path"/>
  
  <!-- Localization -->
  <arg name="localizer"               default="carla"                    doc="Localizer to use (novatel, carla)"/>
  
  <!-- Detection -->
  <arg name="detector"                default="lidar_cluster"            doc="Detector to use (lidar_cluster, lidar_sfa, sim, carla)"/>
  <arg name="tfl_detector"            default="mqtt"                     doc="Traffic light detector to use (camera, mqtt, mqtt_camera_fusion)"/>
  
  <!-- Planning -->
  <arg name="global_planner"          default="lanelet2"                 doc="Global planner to use (waypoints, lanelet2)"/>
  <arg name="local_planner"           default="rule"                     doc="Local planner to use (rule, none)"/>
  <arg name="use_path_smoothing"      default="true"                     doc="Enable path smoothing"/>
  <arg name="enable_goal_checker"          default="true"                doc="Enable goal checker"/>
  <arg name="enable_object_checker"        default="true"                doc="Enable object checker"/>
  <arg name="enable_auto_stop_checker"     default="true"                doc="Enable auto stop checker"/>
  <arg name="enable_traffic_light_checker" default="true"                doc="Enable traffic light checker"/>
  <arg name="enable_crosswalk_checker"     default="true"                doc="Enable crosswalk checker"/>
  <arg name="enable_yielding_checker"      default="true"                doc="Enable yielding checker"/>
  <arg name="enable_trajectory_checker"    default="true"                doc="Enable trajectory checker"/>
  
  <!-- Control -->
  <arg name="controller"              default="pure_pursuit"             doc="Controller to use (pure_pursuit, stanley)"/>
  
  <!-- Visualization and platform -->
  <arg name="launch_rviz"             default='true'                     doc="Determines if rviz is launched or not"/>

  <!-- Localization -->
  <include file="$(find autoware_mini)/launch/localization.launch">
    <arg name="localizer"           value="$(arg localizer)" />
    <arg name="map_name"            value="$(arg map_name)" />
  </include>

  <!-- Detection -->
  <include file="$(find autoware_mini)/launch/detection.launch">
    <arg name="detector"            value="$(arg detector)" />
    <arg name="tfl_detector"        value="$(arg tfl_detector)" />
    <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
  </include>

  <!-- Planning -->
  <include file="$(find autoware_mini)/launch/planning.launch">
    <arg name="global_planner"      value="$(arg global_planner)" />
    <arg name="local_planner"       value="$(arg local_planner)" />
    <arg name="use_path_smoothing"  value="$(arg use_path_smoothing)" />
    <arg name="lanelet2_map_name"   value="$(arg lanelet2_map_name)" />
    <arg name="enable_goal_checker"          value="$(arg enable_goal_checker)" />
    <arg name="enable_object_checker"        value="$(arg enable_object_checker)" />
    <arg name="enable_auto_stop_checker"     value="$(arg enable_auto_stop_checker)" />
    <arg name="enable_traffic_light_checker" value="$(arg enable_traffic_light_checker)" />
    <arg name="enable_crosswalk_checker"     value="$(arg enable_crosswalk_checker)" />
    <arg name="enable_yielding_checker"      value="$(arg enable_yielding_checker)" />
    <arg name="enable_trajectory_checker"    value="$(arg enable_trajectory_checker)" />
  </include>

  <!-- Control -->
  <include file="$(find autoware_mini)/launch/control.launch">
    <arg name="controller"            value="$(arg controller)" />
  </include>

  <!-- Carla Leaderboard platform -->
  <include file="$(find autoware_mini)/launch/platform/carla_leaderboard.launch">
    <arg name='map_name'            value='$(arg map_name)'/>
  </include>

  <!-- Rviz -->
  <include if="$(arg launch_rviz)" file="$(find autoware_mini)/launch/rviz.launch" />

</launch>